* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
@media (max-width: 800px){
  .main {
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(min-width: 801px){
.main {
  padding: 40px 70px;
  margin: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
}
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.box {
  padding: 10px;
  margin: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}